<!doctype html>

<html>

   <body>
   <h1>Single Shot Detection Demo of 605Project </h1>
   <br><br><br><br>
      <form action = "/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
          <br><br><br><br>
          You need to upload a image here <br> Then it will return a image with bounding box and confidence score </b>
          
         <h2>Original Image Sample</h2>
            <img src="https://github.com/jiachengc/herokuobjectdetection/blob/master/templates/cat1.jpeg?raw=true" alt="Trulli" width="333" height="333">
         <h2>After Detect Image Sample</h2>
            <img src="https://github.com/jiachengc/herokuobjectdetection/blob/master/templates/image-7.jpg?raw=true" alt="Trulli" width="333" height="333">
         
      </form>
   </body>
</html>
